/** @format */

* {
   margin: 0;
   padding: 0;
}
body {
   background-color: #021016;
}
.wrapper {
   width: 100%;
   height: 100vh;
}
.menu__left {
   z-index: 1;
   height: 100%;
   max-width: 15%;
   background-color: rgb(0, 0, 0);
   float: left;
   text-align: center;
   font-size: 17px;
   #menu__close {
      width: 70%;
      height: 40px;
      margin-top: 20px;
      color: rgb(140, 0, 255);
      border-radius: 20px;
      border: 2px solid rgb(140, 0, 255);
      z-index: 10;
      cursor: pointer;
      transition: 0.5s;
   }
   #menu__close:hover {
      box-shadow: 0 0 5px 5px rgb(1, 255, 234);
   }
}

.menu_button_tel {
   height: 100%;
   width: 3%;
   background-color: black;
   z-index: 0;
   float: left;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   font-size: 24px;
   span {
      color: white;
   }
}
.menu-form {
   margin-top: 30px;
   #buttonSearch {
      width: 50%;
      height: 30px;
      margin: 10px auto;
      outline: none;
      border-radius: 4px;
      border: none;
      background-color: rgb(48, 1, 255);
      box-shadow: 3px 3px 0 rgb(0, 203, 253);
      transition: 1s;
      color: #ffff;
      cursor: pointer;
   }
   #buttonSearch:hover {
      background-color: rgb(0, 203, 253);
      box-shadow: -3px -3px 0 rgb(48, 1, 255);
   }

   #menu-search-name {
      outline: none;
      width: 70%;
      height: 25px;
      border-radius: 4px;
      border: none;
      background-color: rgba(255, 255, 255, 0.507);
      box-shadow: 0 0 3px 3px rgb(247, 247, 247);
      padding-left: 5px;
      color: #ffff;
   }
   #menu-search-name::placeholder {
      color: #ffff;
   }
}

.block-search-age {
   margin: 10px;
   font-size: 17px;

   p {
      color: rgb(255, 238, 0);
   }
   .search-title {
   }
   input[type='text'] {
      width: 45px;
      height: 25px;
      margin: 2px;
      outline: none;
      border: none;
      box-shadow: 2px 2px yellow;
      border-radius: 3px;
      text-align: center;
   }
   .block-input {
      display: flex;
      justify-content: space-around;
   }
   #buttonSearchAge {
      margin-top: 10px;
      width: 70%;
      height: 30px;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      background-color: rgb(22, 255, 1);
      box-shadow: -3px -3px 0 rgb(173, 0, 253);
      transition: 1s;
   }
   #buttonSearchAge:hover {
      background-color: rgb(173, 0, 253);
      box-shadow: 3px 3px 0 rgb(22, 255, 1);
   }
}

.content {
   height: 100%;
   float: left;
   overflow: hidden;
   position: relative;
}
.card-content {
   height: calc(100% - 40px);
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   padding: 20px 0 20px 0;
   transition: 1s;
   overflow-y: scroll;
   overflow-x: hidden;
   font-size: 22px;
}
.card-content::-webkit-scrollbar {
   width: 10px;
}
.card-content::-webkit-scrollbar-track {
   background-color: rgb(1, 255, 242);
}
.card-content::-webkit-scrollbar-thumb {
   background-color: rgb(0, 0, 0);
}
.card-item {
   height: 47%;
   flex: 0 0 40%;
   position: relative;
   margin-bottom: 25px;
   border-radius: 10px;
   padding: 6px;
   .card-img {
      width: 35%;
      height: 85%;

      float: left;
      img {
         border-radius: 10px;
         width: 100%;
         height: 100%;
      }
   }
   .card-info {
      float: left;
      width: 65%;
      height: 85%;

      p {
         text-align: center;
         margin-top: 30%;
      }
   }
   .menu {
      width: 100%;
      height: 15%;
      border-top: 1px solid rgb(0, 0, 0);
      display: flex;
      justify-content: center;
      .__button {
         border-right: 1px solid rgb(0, 0, 0);
         height: 100%;
         width: 10%;
         transition: 1s;
         //transform: rotateY(180deg);
      }

      .button__active {
         transition: 1s;
         transform: rotateY(180deg);
         background-color: rgb(31, 255, 1);
      }
      img {
         width: 100%;
         height: 100%;
      }
      .__button:nth-child(1) {
         border-left: 1px solid rgb(0, 0, 0);
      }
   }
}
.card-item::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   background: linear-gradient(315deg, #03a9f4, #ff0058);
   //background: linear-gradient(315deg, #4dff03, #00d0ff);
}
.card-item::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   background: linear-gradient(315deg, #03a9f4, #ff0058);
   filter: blur(30px);
}
.card-item span {
   position: absolute;
   top: 6px;
   left: 6px;
   right: 6px;
   bottom: 6px;
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.6);
   z-index: -1;
}
@media (min-width: 1200px) {
   .menu_button_tel,
   #menu__close {
      display: none;
   }
   .content {
      max-width: 85%;
   }
}
@media (max-width: 1200px) {
   .menu_button_tel,
   #menu__close {
      display: none;
   }
   .content {
      max-width: 85%;
   }
}
@media (max-width: 768px) {
   .menu__left {
      position: absolute;
      transform: translateX(-100%);
      display: none;
      transition: 0.3s;
   }
   .menu_button_tel {
      display: flex;
   }
   #menu__close {
      display: inline-block;
   }
   .content {
      max-width: 97%;
   }
   .card-content {
      padding: 10px 0 10px 0;
      font-size: 17px;
      height: calc(100% - 20px);
   }
   .block-search-age {
      input[type='text'] {
         width: 80%;
      }
   }
   .menu__left * {
      font-size: 12px;
   }
}
@media (max-width: 450px) {
   .menu__left {
      position: absolute;
      transform: translateX(-100%);
      display: none;
      transition: 0.3s;
   }
   .menu_button_tel {
      display: flex;
   }
   #menu__close {
      display: inline-block;
   }
   .content {
      max-width: 97%;
   }
   .card-content {
      padding: 10px 0 10px 0;
      font-size: 14px;
      height: calc(100% - 20px);
   }
   .block-search-age {
      input[type='text'] {
         width: 80%;
      }
   }
   .menu__left * {
      font-size: 10px;
   }
}
